dash==1.19.0
datetime==4.3
numpy==1.20.1
pandas==1.2.2
sklearn==0.0
statsmodels==0.12.2
requests==2.25.1
sodapy==2.1.0
dash_core_components==1.15.0
dash_html_components==1.1.2
plotly==4.14.3
mlxtend==0.18.0
urllib3==1.26.3

